<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <base href="/app/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/app/app.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/app/bower_components/Materialize/dist/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/app/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body ng-app="myApp" ng-controller="MyAppController">

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" ui-sref="index" class="brand-logo"><I>BIY</I></a>
        <ul class="right hide-on-med-and-down">
            <!--<li><a href="#">Navbar Link</a></li>-->



            <!-- Dropdown Structure -->


            <div ng-if="isLoggedIn"> <a class='dropdown-button btn' href='#' data-activates='dropdown1'>{{currentUser.name}}</a></div>


            <ul id='dropdown1' class='dropdown-content'>
                <li><a ui-sref="repos({userLogin: currentUser.userLogin})">My Repositories</a></li>
                <li class="divider"></li>
                <li><a href="#!">Logout</a></li>
            </ul>
            <!--<div ui-view></div>-->
            <div ng-if="!isLoggedIn"><button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="githubOAuth()">Login</button></div>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--Add content here-->
<div ui-view></div>
<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Author Bio</h5>
                <p class="grey-text text-lighten-4">My name is YuesongWang and this is my course project for CS263 in UCSB.
                    Currently there are still some limitations in this project.
                    e.g Only Maven 3 project is supported. I will implement multi-language and parameterized builds in the future.</p>


            </div>
            <!--<div class="col l3 s12">-->
                <!--<h5 class="white-text">Settings</h5>-->
                <!--<ul>-->
                    <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="col l6 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/wangyuesong/WYSBuilder-Backend">Project Github Link</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/profile.php?id=100006784235764">Yuesong's Facebook</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/yuesong-wang-31387ba3">Yuesong's Linkedin</a></li>
                    <li><a class="white-text" href="http://materializecss.com">Materialize CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-base64/angular-base64.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/satellizer/satellizer.js"></script>
<script src="bower_components/oauth-js/dist/oauth.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="app.js"></script>

<!--<script src="/app/home/home.js"></script>-->
<!--<script src="/app/view2/view2.js"></script>-->
<!--<script src="/app/login/login.js"></script>-->
<!--<script src="/app/login/login_service.js"></script>-->
<script src="repos/repos.js"></script>
<script src="repos/repos_service.js"></script>
<script src="oneRepo/oneRepo.js"></script>
<script src="oneRepo/oneRepo_service.js"></script>
<script src="login/login_service.js"></script>
<script src="oauth/oauth.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>


<script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="js/init.js"></script>

</body>
</html>
