<!--<div ng-controller="LoginController">-->
    <!--&lt;!&ndash;<form role="form" name="form1">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Welcome:{{credential.email}}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<label>Mail:</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" placeholder="Enter email" class="form-control" ng-model="credential.email">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<label>Password:</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="password" placeholder="Password" id="pass" class="form-control" required ng-model="credential.password">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="login(credential)">Submit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="test()">Test</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--<button ng-click="authenticate('github')">Sign in with GitHub</button>-->
    <!--<button class="btn btn-default" type="submit" ng-disabled="form1.$invalid" ng-click="githubOAuth()">Test</button>-->
<!--</div>-->